{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='prof_pics/' + post.penulis.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.penulis.username }}</a>
              <small class="text-muted">{{ post.tgl_post.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', id_post=post.id) }}">{{ post.judul }}</a></h2>
            <p class="article-content">{{ post.konten }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
